:root {
    --backgroundColor: #373A40;
    --white: #fff;
    --card-color: #53627c;
    --pink: #FE346E;
    --darkPink: #B80D57;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: var(--backgroundColor);
    width: 100%;
    font-family: Ubuntu, sans-serif;
}

.banner {
    width: 80%;
    margin: auto;
    color: var(--white);
    margin-top: 3rem;
}

.heading {
    font-family: Ubuntu;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

input {
    border: none;
    background: none;
    outline: none;
    color: inherit;
}

form input {
    border-bottom: 1px solid var(--white);
    margin-right: 3rem;
    font-size: 1.5rem;
}

form input::placeholder {
    color: var(--white);
}

.container-center {
    text-align: center;
}

button {
    font-size: 1.5rem;
    padding: .5rem .7rem;
    background-color: var(--darkPink);
    border: none;
    border-radius: .5rem;
    color: var(--white);
}

button:hover {
    background-color: var(--pink);
    transition: 0.4s ease-in-out;
}

.banner form .error-message {
    display: none;
    position: relative;
    margin-right: 30%;
    margin-bottom: .7rem;
    color: var(--darkPink);
    font-weight: 800;
}

@media screen and (max-width: 700px) {
    .banner form {
        flex-direction: column;
    }
    .banner form input,
    .banner form button {
        width: 100%;
    }
    .banner form button {
        margin: 20px 0 0 0;
    }
    .banner form .error-message {
        position: relative;
        margin-right: 37%;
    }
    button {
        margin-top: 2rem !important;
    }
}

@media screen and (min-width: 1601px) {
    .banner form .error-message {
        position: relative;
        margin-right: 21%;
    }
}


/* display section */

ul {
    list-style-type: none;
}

.display-weather {
    width: 100%;
}

.container {
    width: 80%;
    margin: 5rem auto;
}

.display-weather .cities {
    display: grid;
    grid-gap: 2rem 1.3rem;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1000px) {
    .display-weather .cities {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .display-weather .cities {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .display-weather .cities {
        grid-template-columns: repeat(1, 1fr);
    }
}

.display-weather .city {
    position: relative;
    padding: 2.5rem 10%;
    border-radius: 1.5rem;
    background: var(--card-color);
    color: var(--white);
}

.display-weather figcaption {
    margin-top: .7rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem
}

.display-weather .city-temperature {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 1rem;
    color: var(--white);
}

.display-weather .city-temperature sup {
    font-size: 2rem;
}

.display-weather .city-name sup {
    padding: 0.2rem 0.4rem;
    border-radius: 10px;
    color: var(--white);
    background: var(--pink);
    font-size: .7rem;
}

.display-weather .city-icon {
    margin-top: 1rem;
    width: 5rem;
    height: 6rem;
    color: #B80D57 !important;
}